<div id="main">
	<div class="top">
		<div id="slideshows">
			<img src="/assets/glasshouse.jpg" alt="glasshouse">
			<img src="/assets/cube.jpg"/>
		
		</div>

	</div>

	<div class="bottom">
		<button type="button" onclick="alert('Hello world!')">Sign Up</button>

		<button type="button" onclick="alert('Hello world!')">Star your discover</button>

		<button type="button" onclick="alert('Hello world!')">Log in</button>
	</div>


</div>