<div id="main">
	<div class="top">
		<div id="slideshows">
			<img src="/assets/glasshouse.jpg" alt="glasshouse">
			<img src="/assets/cube.jpg"/>
		
		</div>

	</div>

	<div class="bottom">
		<h1>Discover my city</h1>
		<button type="button" onclick="alert('Hello world!')"><a href="#"  class="animated-btn">Sign Up</a></button>

		<button type="button" onclick="alert('Hello world!')">Star your discovery</button>

		<button type="button" onclick="alert('Hello world!')">Log in</button>
	</div>


</div>