<div id="main">
	<div class="top">
		<div id="slideshows">
			<img src="/assets/glasshouse.jpg" alt="glasshouse">
			<img src="/assets/cube.jpg"/>
		
		</div>

	</div>

	<div class="bottom">
		<h1>Discover my city</h1>
		<button type="button" data-toggle="modal" data-target="#signupModal">Signup</button>

		<button type="button" onclick="alert('Hello world!')">Star your discovery</button>

		<button type="button" data-toggle="modal" data-target="#loginModal">Log in</button>
	</div>

	<!-- Need to put modal window template here -->
	<div class="modal fade" id="signupModal">
	</div><!-- /.modalfade signup -->

	<div class="modal fade" id="loginModal">
	</div><!--/.modalfade login-->


</div>