// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
		margin: -5px;
	#main {
		width: 100%;
		height: auto;

		.top {
			height: 500px;
			background-color: #1D1128;
	}
		.bottom {
			height: 240px;
			background-color: #F7F6ED;
		}
	}
}