<h1> art page </h1>

<div class="art">
art blah blah blah art blah
</div>

<!-- <div style='width: 800px;'> -->
  <div id="map" style='width: 800px; height: 250px;'></div>
</div>


<%= render 'map' %>